<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>398414942114-6k7cmnl4r4dr4gs498p8ek8fo2rmk27i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.398414942114-6k7cmnl4r4dr4gs498p8ek8fo2rmk27i</string>
	<key>API_KEY</key>
	<string>AIzaSyAUMlAUK299FfrGOG5ODse05yuSXxh1BB8</string>
	<key>GCM_SENDER_ID</key>
	<string>398414942114</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pergates.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-e000e</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-e000e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:398414942114:ios:a1a836fcb9ea3a73d82cfb</string>
</dict>
</plist>